@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap");
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #8f8f8f;
    font-size: 16px;
    font-family: "Inconsolata", monospace;
}

.title {
    background: linear-gradient(0deg, #242424 0%, #333333 35%);
    padding-bottom: 1%;
    padding-top: 1%;
}

.selector {
    width: 60%;
    background-color: #fff;
    padding: 1%;
}

.selectionMenu {
    width: 20%;
    margin: auto;
    justify-content: center;
}

.selectDiv {
    padding: 1%;
}

.select {
    width: 100%;
}

.selectTitle {
    color: #242424;
    font-size: 14px;
}

.divider {
    margin-top: 1%;
    margin-bottom: 1%;
}

.pageTitle {
    text-align: start;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: "Anton", sans-serif;
    margin-left: 20px;
}

.pageSubTitle {
    width: 35%;
    text-align: center;
    font-size: 15px;
    color: #bcbcbc;
    font-family: "Sono", sans-serif;
}

#section {
    display: flex;
    justify-content: space-between;
}

#aside {
    width: 20%;
    padding: 1%;
}